version: "3.0"
services:
  survey:
    container_name: survey
    image: survey
    build:
      context: .
      target: survey
      dockerfile: Dockerfile
    volumes: 
      - ./app:/var/www/html
      - ./db:/var/www/db
    ports: 
      - 80:80
      - 443:443
